repos:
- repo: https://github.com/ansible/ansible-lint.git
  rev: v25.9.2
  hooks:
  - id: ansible-lint
    files: \.(yaml|yml)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: sort-simple-yaml
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: detect-private-key
