appdirs==1.4.3
awscli==1.16.151
bcdoc==0.16.0
bcrypt==3.1.6
boto3==1.9.141
botocore==1.12.141
cffi==1.12.3
colorama==0.4.1
Django==2.2.4
git+https://github.com/Alir3z4/django-markwhat.git@d4922a38e9b12d4987635405601b8b10ac1bf0a1#django-markwhat
django-robots==3.1.0
django-sendmail-backend==0.1.2
django-storages==1.7.1
docutils==0.14
gunicorn==19.9.0
isort==4.3.18
jmespath==0.9.4
Markdown==3.1
mutagen==1.42.0
packaging==19.0
pkg-resources==0.0.0
psycopg2==2.8.2 --no-binary psycopg2
pyasn1==0.4.5
pycparser==2.19
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
rsa==4.0
s3transfer==0.2.0
setproctitle==1.1.10
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.2
-e git+https://github.com/thepointchurch/thepoint.git@2.0.1#egg=thepoint
