---
- name: Install AWS CLI
  ansible.builtin.apt:
    pkg:
      - awscli
      - curl
      - xz-utils
    state: present
    force: yes
- name: Create AWS CLI configuration directory
  ansible.builtin.file:
    state: directory
    dest: /etc/aws
    owner: root
    group: root
    mode: 0755
- name: Configure AWS CLI
  ansible.builtin.shell: |
    set -o pipefail
    /bin/cat >/etc/aws/config <<AWS_CONFIG
    [default]
    region = $(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document \
    -H "X-aws-ec2-metadata-token: $(curl -sX PUT http://169.254.169.254/latest/api/token \
        -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")" | awk -F\" '/region/{print $4}')
    use_dualstack_endpoint = true
    AWS_CONFIG
  args:
    creates: /etc/aws/config
    executable: /bin/bash
- name: Link root AWS CLI config
  ansible.builtin.file:
    state: link
    src: /etc/aws
    dest: /root/.aws
    mode: 0755
- name: Download SSM Agent
  ansible.builtin.uri:
    url: "https://s3.dualstack.us-east-1.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/\
          debian_arm64/amazon-ssm-agent.deb"
    dest: /root/amazon-ssm-agent.deb
    creates: /root/amazon-ssm-agent.deb
    owner: root
    group: root
    mode: 0644
  register: aws_ssm_agent_download
- name: Install SSM Agent
  ansible.builtin.apt:
    deb: /root/amazon-ssm-agent.deb
    state: present
  when: aws_ssm_agent_download.changed
  tags:
    - skip_ansible_lint
- name: Configure SSM Agent
  ansible.builtin.template:
    src: ssm.json.j2
    dest: /etc/amazon/ssm/amazon-ssm-agent.json
    owner: root
    group: root
    mode: 0644
  notify:
    - restart_ssm
- name: SSM Agent
  ansible.builtin.service:
    name: amazon-ssm-agent
    state: started
    enabled: true
- name: Datadog Repository Key
  ansible.builtin.get_url:
    url: https://keys.datadoghq.com/DATADOG_APT_KEY_CURRENT.public
    dest: /etc/apt/trusted.gpg.d/datadog-archive-keyring.asc
    owner: root
    group: root
    mode: 0644
- name: Vector Repository
  ansible.builtin.deb822_repository:
    state: present
    name: vector
    components:
      - vector-0
    suites:
      - stable
    signed_by: /etc/apt/trusted.gpg.d/datadog-archive-keyring.asc
    uris:
      - https://apt.vector.dev/
  register: aws_apt_vector
- name: Install Vector
  ansible.builtin.apt:
    pkg:
      - vector
    state: present
    force: yes
    update_cache: "{{ aws_apt_vector.changed | lower }}"
- name: Configure Vector
  ansible.builtin.template:
    src: vector.yaml.j2
    dest: /etc/vector/vector.yaml
    owner: root
    group: root
    mode: 0644
  notify:
    - restart_vector
- name: Vector Service
  ansible.builtin.service:
    name: vector
    state: started
    enabled: true
