[Unit]
Description={{ description }} service
Requires={{ user }}.socket
After=network.target

[Service]
PIDFile=/run/{{ user }}/pid
User={{ user }}
Group={{ user }}
RuntimeDirectory={{ user }}
WorkingDirectory=/srv/django/{{ user }}
EnvironmentFile=/srv/django/{{ user }}/.environment
ExecStart=/srv/django/{{ user }}/venv/bin/gunicorn \
          --config /srv/django/{{ user }}/.gunicorn \
          --pid /run/{{ user }}/pid \
          --bind unix:/run/{{ user }}/socket \
          thepoint.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
