{
    "Profile":{
        "ShareCreds" : true,
        "ShareProfile" : "",
        "ForceUpdateCreds" : false,
        "KeyAutoRotateDays": 0
    },
    "Mds": {
        "CommandWorkersLimit" : 5,
        "StopTimeoutMillis" : 20000,
        "Endpoint": "",
        "CommandRetryLimit": 15
    },
    "Ssm": {
        "Endpoint": "https://ssm.{{ aws_region }}.api.aws/",
        "HealthFrequencyMinutes": 5,
        "CustomInventoryDefaultLocation" : "",
        "HibernationMaxBackoffIntervalMinutes" : 60,
        "AssociationLogsRetentionDurationHours" : 24,
        "RunCommandLogsRetentionDurationHours" : 336,
        "SessionLogsRetentionDurationHours" : 336,
        "SessionHandshakeTimeoutSeconds" : 15,
        "SessionLogsDestination": "none",
        "PluginLocalOutputCleanup": "",
        "OrchestrationDirectoryCleanup": "",
        "CredentialRetryMaxSleepSeconds": 1800
    },
    "Mgs": {
        "Region": "",
        "Endpoint": "https://ssmmessages.{{ aws_region }}.api.aws/",
        "StopTimeoutMillis" : 20000,
        "SessionWorkersLimit" : 1000,
        "DeniedPortForwardingRemoteIPs" : [
            "169.254.169.254",
            "fd00:ec2::254",
            "169.254.169.253",
            "fd00:ec2::253",
            "169.254.169.123",
            "fd00:ec2::123",
            "169.254.169.250",
            "169.254.169.251",
            "fd00:ec2::250"
        ]
    },
    "Agent": {
        "Region": "",
        "OrchestrationRootDir": "",
        "SelfUpdate": false,
        "TelemetryMetricsToCloudWatch": false,
        "TelemetryMetricsToSSM": true,
        "GlobalEnhancedTelemetryEnabled": true,
        "AuditExpirationDay" : 7,
        "LongRunningWorkerMonitorIntervalSeconds": 60
    },
    "Os": {
        "Lang": "en-US",
        "Name": "",
        "Version": "1"
    },
    "S3": {
        "Endpoint": "https://s3.dualstack.{{ aws_region }}.amazonaws.com/",
        "Region": "",
        "LogBucket":"",
        "LogKey":""
    },
    "Kms": {
        "Endpoint": "https://kms.{{ aws_region }}.api.aws/",
        "RequireKMSChallengeResponse": false
    },
    "CloudWatchLogs": {
        "Endpoint": "https://monitoring.{{ aws_region }}.api.aws/",
        "Region": ""
    }
}
